.navbar{
    background-color: black;
}
.form-group {
    display: flex;
    justify-content: center;
}

body{
    background-color: #212529;
    color: white;
    height: 100%;
  }

  .btn{
    border-radius: 0;
    border: none;
    background-color: rgb(80, 91, 95);
    color: white;
  }